{% extends 'dashbase.html' %}
{% load static %}

{% block content %}
<section class="probootstrap-section">
    <div class="container">
        <div class="row mb30">
            <div class="col-md-12">
                <figure>
                    <img src="{% static 'img/o2arena.jpg' %}" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Atlantis is an event center located in the heart of Amsterdam, the Netherlands. With experience ranging from intimate birthday parties to multi-day music festivals and conferences, our team can bring your vision together with the best equipment and personnel.</p>

                <p>Atlantis is the ideal destination for any occasion, be it a business meeting or a special event. We offer an extensive range of options to cater to your needs.</p>
            </div>
            <div class="col-md-6">
                <p> Atlantis is a one-of-a-kind luxury event venue that features healthy, open, and flexible event spaces with multiple available event halls. Our ability to increase or shrink their event function space for special events is unparalleled among other venues in the area.</p>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
      <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mt0">Why Choose Us?</h2>
                <p class="mb50"><img src="{% static 'img/curve.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
            <div class="col-md-4">
                <div class="service left-icon left-icon-sm probootstrap-animate">
                    <div class="icon">
                        <i class="icon-check"></i>
                    </div>
                    <div class="text">
                        <h3>40,000 seater capacity</h3>
                        <p>The Atlantis is an amazingly comfortable venue with 40,000 capacity and is equipped with the latest audio-visual equipment to make your function run like clockwork.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon left-icon-sm probootstrap-animate">
                    <div class="icon">
                        <i class="icon-check"></i>
                    </div>
                    <div class="text">
                        <h3>Food &amp; Drinks</h3>
                        <p>Atlantis offers catering services for events of any size. We pride ourselves on providing high-quality food & drink for our clients.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon left-icon-sm probootstrap-animate">
                    <div class="icon">
                        <i class="icon-check"></i>
                    </div>
                    <div class="text">
                        <h3>Transportation for Guests</h3>
                        <p>Your event transportation provider. We can provide a wide range of drop-off, pick up, and transportation options designed to fit your specific needs.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
  
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mb50 text-center probootstrap-animate">
                <h2 class="mt0">More Features</h2>
                <p class="mb30"><img src="{% static 'img/curve.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-heart2"></i> <span>Beautiful Design and Aesthetics</span></h3>
                <p> Atlantis' beautiful event halls have a unique and overwhelming design. It’s modern yet classic and has both an impressive façade, interior design and exterior landscape.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-rocket"></i> <span>Versatility</span></h3>
                <p> This versatile hall can be configured to meet the event specification. Perfect for any type of small to medium-sized convention, the Atlantis can be expanded and contracted to accommodate the number of guests seated.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-image"></i> <span>Photograhy Services</span></h3>
                <p> Committed to preserving and telling stories, we offer photography services to cover precious moments in your events. Whether you need a professional photographer for engagement shots or a fabulous photo booth backdrop, we’re here today and gone tomorrow.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-briefcase"></i> <span>The Perfect Coporate Venue</span></h3>
                <p> The Atlantis is a versatile, multi-purpose event hall that can be used for business meetings, luncheons and banquets, conferences, fairs and many other types of events. Designed to accommodate up to 20,000 people under one roof, it features tasteful decor and a warm atmosphere that will help your guests enjoy themselves.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-chat"></i> <span>24/7 Customer Services</span></h3>
                <p> Atlantis offers 24/7 customer service and support. We are here to help you with any questions, concerns, or problems you may encounter while using our services. Our knowledgeable staff can help you sort out any issues you may encounter and make sure your event runs smoothly.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
                <h3 class="heading-with-icon"><i class="icon-colours"></i> <span>Good Spacing</span></h3>
                <p> The Atlantis stands out in terms of comfort and value. Its elegant design, with its choice of materials, sophisticated lighting, modern entertainment options and comfortable furniture makes it an event venue which creates the right ambience for your events.</p>
                <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
            <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
        </div>
    </div>
</section>
  

<section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
        <div class="row mb30">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
                <h2>Explore our Services</h2>
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><img src="{% static 'img/curve.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <img src="{% static 'img/flaticon/svg/001-building.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>40,000 seat capacity</h3>
                        <p>The Atlantis is an amazingly comfortable venue with 40,000 capacity and is equipped with the latest audio-visual equipment to make your function run like clockwork.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <img src="{% static 'img/flaticon/svg/003-restaurant.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>Food &amp; Drinks</h3>
                        <p>Atlantis offers catering services for events of any size. We pride ourselves on providing high-quality food & drink for our clients.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <img src="{% static 'img/flaticon/svg/004-parking.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>Transportation for Guests</h3>
                        <p>Your event transportation provider. We can provide a wide range of drop-off, pick up, and transportation options designed to fit your specific needs.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}