<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo_sm@2x.png' %}" type="image/x-icon">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}
</head>
<body>
    <header role="banner" class="probootstrap-header">
        <div class="row">
            <a href="{% url 'index' %}" class="probootstrap-logo visible-xs"><img src="{% static 'img/logo_sm.png' %}" class="hires" width="120" height="33" alt="Free Bootstrap Template by uicookies.com"></a>
            
            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>
    
            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li class="hidden-xs probootstrap-logo-center"><a href="index.html"><img src="{% static 'img/logo_md.png' %}" class="hires" width="181" height="50" alt="Free Bootstrap Template by uicookies.com"></a></li>
                    <li><a href="{% url 'reservation' %}">Reservation</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Connect With Us</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="probootstrap-slider flexslider probootstrap-inner">
        <ul class="slides">
            <li style="background-image: url('../../img/concert.jpg');" class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="probootstrap-slider-text text-center">
                                <p><img src="{% static 'img/curve_white.svg' %}" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                                <h1 class="probootstrap-heading probootstrap-animate">{{poster}}</h1>
                                <div class="probootstrap-animate probootstrap-sub-wrap">{{desc}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    {% block content %}
    
    {% endblock content %}
    <section class="probootstrap-half">
        <div class="image" style="background-image: url('../../img/event-hall-1.jpg');"></div>
        <div class="text">
            <div class="probootstrap-animate fadeInUp probootstrap-animated">
                <h2 class="mt0">Best Event Halls</h2>
                <p><img src="{% static 'img/curve_white.svg' %}" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
                <div class="row">
                    <div class="col-md-6">
                        <p>Atlantis is an event center located in the heart of Amsterdam, the Netherlands. With experience ranging from intimate birthday parties to multi-day music festivals and conferences, our team can bring your vision together with the best equipment and personnel.</p>    
                    </div>
                    <div class="col-md-6">
                        <p>We have multiple event halls with large capacities and a variety of different sound systems that fit any need. We also serve breakfast, lunch, dinner and drinks for you and your guests.</p>    
                    </div>
                </div>
                <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
            </div>
        </div>
    </section>
    <footer role="contentinfo" class="probootstrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <p class="mt40"><img src="{% static 'img/logo_sm.png' %}" class="hires" width="120" height="33" alt="Free HTML5 Bootstrap Template by uicookies.com"></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Blog</h3>
                        <ul class="probootstrap-blog-list">
                            <li>
                                <a href="#">
                                    <figure class="probootstrap-image"><img src="../img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                    <div class="probootstrap-text">
                                        <h4>River named Duden flows</h4>
                                        <span class="meta">August 2, 2017</span>
                                        <p>A small river named Duden flows by their place</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure class="probootstrap-image"><img src="../img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                    <div class="probootstrap-text">
                                        <h4>River named Duden flows</h4>
                                        <span class="meta">August 2, 2017</span>
                                        <p>A small river named Duden flows by their place</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <figure class="probootstrap-image"><img src="../img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4>River named Duden flows</h4>
                                    <span class="meta">August 2, 2017</span>
                                    <p>A small river named Duden flows by their place</p>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Contact</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                            <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                            <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt40">
                <div class="col-md-12 text-center">
                    <ul class="probootstrap-footer-social">
                        <li><a href=""><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-facebook"></i></a></li>
                        <li><a href=""><i class="icon-instagram2"></i></a></li>
                    </ul>
                    <p>
                        <small>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies:Atlantis</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash.com &amp; Pexels.com</small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>